.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.brand {
  align-self: flex-start;
}

.topnav {
  margin-left: auto;
}

.main {
  margin-bottom: auto;
}