.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 16px 32px;
}

.brand {
  align-self: flex-start;
}

.topnav {
  margin-left: auto;
}

.main {
  margin-bottom: auto;
  padding: 16px 32px;
  overflow-x: auto;
}
