* {
  box-sizing: border-box;
}

html {
  height: 100%;
}



body {
  margin: 0;
  padding: 2em 2em 0em 2em;
  height: 100%;
  font-family: sans-serif;
  background-color: #160E37;
}

#root {
  height: 100%;
}